body{
    background:rgba(99, 136, 136, 0.829);
    font-family: 'Times New Roman', Times, serif;
}

.assignment {
    display:flex;
    margin: 9px;
    background-color: rgb(208, 238, 201);
}

.assignment img {
    width: 257px;
    padding: 10px;
}

h1{
    color: orange;
    text-align: center;
}